In [1]:
library("reticulate")

In [2]:
use_python("/opt/anaconda/envs/py3/bin/python3")

In [3]:
pydap <- import("pydap")

In [4]:
nc_file <- 'http://opendap1.nodc.no/thredds/dodsC/physics/point/yearly/58AA_CTD_2010.nc'

In [5]:
dataset <- pydap$client$open_url(nc_file)

In [6]:
dataset$keys()

KeysView(<DatasetType with children 'TIME', 'TIME_QC', 'LATITUDE', 'LONGITUDE', 'DIRECTION', 'POSITION_QC', 'DEPH', 'DEPH_QC', 'TEMP', 'TEMP_QC', 'CNDC', 'CNDC_QC', 'PSAL', 'PSAL_QC'>)

In [7]:
lat <- dataset$LATITUDE

In [8]:
class(lat)

[1] "pydap.model.BaseType"  "pydap.model.DapType"   "python.builtin.object"

In [9]:
lat$dimensions

[[1]]
[1] "TIME"

In [10]:
lat

In [11]:
lat[[0]]

In [12]:
matrix_lat = lat[[0]]$data

In [13]:
dim(matrix_lat)

[1] 1

In [14]:
temp <- dataset$TEMP

In [15]:
class(temp)

[1] "pydap.model.BaseType"  "pydap.model.DapType"   "python.builtin.object"

In [16]:
temp$dimensions

[[1]]
[1] "TIME"

[[2]]
[1] "DEPTH"

In [17]:
temp

In [18]:
temp[[0]]

<BaseType with data array([[7.5960e+00, 7.5946e+00, 7.6061e+00, ..., 9.9999e+04, 9.9999e+04,
        9.9999e+04]], dtype=float32)>

In [19]:
matrix_temp = temp[[0]]$data

In [20]:
dim(matrix_temp)

[1]    1 3390